nav{
    text-align:right;

}
.top-nav{
    /* position: relative; */
    /* overflow: hidden; */
    width: auto;
    height: 30px;
    border-bottom: 1px solid darkgray;


}
.top-nav a{
    text-decoration: none;
}
.top-nav :visited{
    color:rgb(37, 37, 37);
}

.top-nav a:hover{
    color: red;
}

